@import "common/init.scss";
@import "common/constants.scss";

$navHeight:64px;

body{
  background: pink;
}

.header{
  width: 100%;
  height: $navHeight;
  background: #3a3a3a;
  position: fixed;
  left: 0;
  top:0;
  right: 0;

    .container{
       width:$pageWidth;
       height: 100%;
//     background:yellowgreen;
       margin: 0 auto;
        overflow: hidden;

      .logo-box{
        width: 160px;
        height: 54px;
        background: url("https://www.bufanbiz.com/static/build/images/new-normal-logo.png") no-repeat;
        margin-top: 16px;
        float: left;

        a{
          display: block;
          width: 100%;
          height: 100%;
        }

      }

       .nav{
          margin-left:128px;
          float: left;

          li{
            float: left;
            margin-right: 40px;
            line-height: $navHeight;
            height: 64px;
            box-sizing: border-box;

              a{
                 color: white;
              }

              &.active{
                border-bottom: 5px solid #5c87d9;
              }

          }
        }

       .auth-box{
          float: right;
          line-height: $navHeight;
          color: white;

          .iconfont{
              color: #fff;
              font-size: 18px;
          }

         a{
           color: white;
         }
       }
  }
}

.main{
  width: 100%;
  margin-top: $navHeight+20px;

    .wrapper{
        width: $pageWidth;
        margin: 0 auto;
        background: green;
        height: 1000px;
        overflow: hidden;

        .news-wrapper{
           $bannerWidth:$mainBoxWidth;
           $bannerHeight:202px;

            float: left;
            width:$mainBoxWidth;
            height: 500px;
            background: #fff;

            .banner-group{
                width:100%;
                height: $bannerHeight;
                background:#0e275e;
                position: relative;

                .banner-ul{
                   overflow: hidden;
                    width:$bannerWidth*4;
                    position: absolute;
                    left:0px;

                      li{
                         float: left;
                          width: $bannerWidth;
                          height: $bannerHeight;

                          img{
                            width: $bannerWidth;
                            height: $bannerHeight;
                          }
                      }
               }
            }
        }

        .sidebar-wrapper{
            float: right;
            width: $sidebarWidth;
            height: 500px;
            background: darkgreen;
        }
    }
}

